In [1]:
#Q1: Load the dataset into a data frame using Python
import pandas as pd
import plotly.express as px
file_path=r"C:\Users\afef.jebali\OneDrive - TUI\Desktop\Exercice 01\Video games.csv"
df=pd.read_csv(file_path)
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [ ]:
#Q2: Clean the data as needed 
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)
df["Year"] = pd.to_datetime(df["Year"], format="%Y")
df["Year"] = df["Year"].dt.year
df.to_csv('cleaned_data.csv', index=False)
df.head()

In [ ]:
#Q3:Create an area chart to show the trend of global sales over the years.
fig = px.area(df, x="Year", y="Global_Sales")
fig.show()

In [ ]:
#Q4: Create a histogram to show the distribution of global sales.
fig = px.histogram(df, x="Global_Sales", nbins=15)
fig.show()

In [ ]:
#Q5: Create a scatter plot to show the relationship between North American sales and European sales.
import plotly.express as px
fig = px.scatter(x=df["NA_Sales"], y=df["EU_Sales"])
fig.show()

In [ ]:
#Q6: Create a scatter plot to show the relationship between Japanese sales and Other sales.
import plotly.express as px
fig = px.scatter(x=df["JP_Sales"], y=df["Other_Sales"])
fig.show()

In [ ]:
#Q7: Create a stacked area chart to show the distribution of sales by platform over the years.
import plotly.express as px
import pandas as pd
df = df.set_index("Year").stack().reset_index().rename(columns={"level_1":"Global_Sales", 0:"Platform"})
fig = px.area(df, x='Year', y="Platform", color="Platform")
fig.show()

In [ ]:
#Q8: Create a bar chart to show the top 10 publishers by global sales
import pandas as pd
import plotly.express as px
file_path=r"C:\Users\afef.jebali\OneDrive - TUI\Desktop\Exercice 01\Video games.csv"
df=pd.read_csv(file_path)
# Group the data by publisher and sum the sales for each publisher
publisher_sales = df.groupby('Publisher')['Global_Sales'].sum().reset_index()

# Sort the data by sales in descending order
sorted_publishers = publisher_sales.sort_values(by='Global_Sales', ascending=False)

# Get the top 10 publishers
top_10_publishers = sorted_publishers.head(10)

# Display the top 10 publishers
print(top_10_publishers)

In [ ]:
fig=px.bar(sorted_publishers.head(10), x="Publisher", y="Global_Sales")
fig.show()

In [ ]:
#Q9: Create a pie chart to show the distribution of genres by global sales.
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_csv(file_path)
Genre=["Genre"]
Global_Sales=["Global_Sales"]
genre_sales = df.groupby("Genre")["Global_Sales"].sum(Global_Sales)
plt.pie(genre_sales, labels=genre_sales.index, autopct='%1.1f%%', startangle=140)
plt.title("Distribution of Genres by Global Sales")
fig.show()